/* #region General style */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: white;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

/* #endregion General style */

/* #region Header style */

.header {
}

.nav {
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.nav-menu {
}

.nav-menu-item {
}

.nav-menu-item-link {
  font-weight: 500;
  color: #2e2f42;
}

.nav-menu-item-link:hover,
.nav-menu-item-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-menu {
}

.address-menu-item {
}

.address-link {
  font-weight: 400;
  color: #434455;
}

.address-link:hover,
.address-mail-link:focus {
  color: #404bbf;
}

/* #endregion Header style */

/* #region Main style */

/* #region Hero style */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #fff;
  letter-spacing: 0.02em;
}
.order-btn {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}
/* #endregion Hero style */

/* #region Advantages style */
.advantages {
  letter-spacing: 0.02em;
}
.advantages-title {
}
.advantages-menu {
}
.advantages-menu-item {
}
.advantages-category {
}
.advantages-text {
}
/* #endregion Advantages style */

/* #region Our team style */
.team {
  background-color: #f4f4fd;
}
.team-title {
}

.team-menu {
  background-color: #ffffff;
}
.team-menu-item {
}
.team-img {
}
.team-name {
}
.team-text {
}
/* #endregion Our team style */

/* #region Our Portfolio style */

.portfolio {
}
.portfolio-title {
}
.portfolio-menu {
}
.portfolio-menu-item {
}
.portfolio-item-img {
}
.portfolio-item-title {
}
.portfolio-item-text {
}
/* #endregion Our Portfolio style */

/* #endregion Main style */

/* #region Footer style */
.footer {
  background: #2e2f42;
}

.footer-logo-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
/* #endregion Footer style */
