/* #region General style */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: white;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li {
  margin: 0;
  padding-left: 0;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-transform: capitalize;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
}

/* #endregion General style */

/* #region Header style */

.header {
}

.container-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}

.nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu-item {
}

.nav-menu-item-link {
  font-weight: 500;
  color: #2e2f42;
}

.nav-menu-item-link:hover,
.nav-menu-item-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-menu {
  display: flex;
  gap: 40px;
}

.address-menu-item {
}

.address-link {
  font-weight: 400;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* #endregion Header style */

/* #region Main style */

/* #region Hero style */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #fff;
  letter-spacing: 0.02em;
  min-width: 496px;
  padding: 187px 316px 291px;
  box-sizing: content-box;
}
.order-btn {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

/* #endregion Hero style */

/* #region Advantages style */
.advantages {
  letter-spacing: 0.02em;
}
.advantages-title {
}
.advantages-menu {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
  gap: 24px;
}
.advantages-menu-item {
  width: calc((100% - 72px) / 4);
}
.advantages-category {
}
.advantages-text {
}
/* #endregion Advantages style */

/* #region Our team style */
.team {
  background-color: #f4f4fd;
  padding-bottom: 120px;
}
.team-title {
  padding: 120px 483px 72px;
  min-width: 162px;
}

.team-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-menu-item {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  flex-basis: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-img {
}

.container-team-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.team-name {
}
.team-text {
}
/* #endregion Our team style */

/* #region Our Portfolio style */

.portfolio {
  padding-bottom: 120px;
}
.portfolio-title {
  padding: 120px 455px 72px;
  min-width: 218px;
}
.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-menu-item {
}
.portfolio-item-img {
}

.container-portfolio-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  flex-basis: 360px;
}

.portfolio-item-title {
}
.portfolio-item-text {
}
/* #endregion Our Portfolio style */

/* #endregion Main style */

/* #region Footer style */
.footer {
  background-color: #2e2f42;
  max-width: 1158px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
/* #endregion Footer style */
